<header>
  <h1>scube-client</h1>
</header>

<nav>
  <ul>
    <li>
      {{link-to 'Home' 'application'}}
    </li>
    <li>
      {{#link-to 'playlists'}}
        Playlists
      {{/link-to}}
    </li>
  </ul>
</nav>

<main>
  {{outlet}}
</main>
