<header>
  <h1>scube-client</h1>
</header>

<nav>
  <ul>
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      {{#link-to 'playlists'}}
        Playlists
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'tracks'}}
        Tracks
      {{/link-to}}
    </li>
  </ul>
</nav>

<main>
  {{outlet}}
</main>
